roles/nodered/files/flows.json
[{"id":"74d0b6807ce0b205","type":"tab","label":"PEP Inbound Server","disabled":false,"info":""},{"id":"ebc1304e8ac3c7bf","type":"tab","label":"PPNAM Station 2 MQTT","disabled":false,"info":"","env":[]},{"id":"978de5100e6d4e0b","type":"OpcUa-Endpoint","name":"Systems-One_Demo_Plc","endpoint":"opc.tcp://192.168.1.125:4840","secpol":"None","secmode":"None","none":false,"login":false,"usercert":false,"usercertificate":"","userprivatekey":""},{"id":"68021f9.ba14de","type":"OpcUa-Endpoint","endpoint":"opc.tcp://localhost:53530/OPCUA/SimulationServer","secpol":"None","secmode":"None","login":false},{"id":"ppnam-mqtt-broker","type":"mqtt-broker","name":"Mosquitto (local)","broker":"mosquitto","port":"1883","clientid":"nodered-ppnam-sim","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"ui-tab-stats","type":"ui_tab","name":"PEP Stats","icon":"dashboard","disabled":false,"hidden":false},{"id":"ui-group-stats","type":"ui_group","name":"TCP Send Statistics","tab":"ui-tab-stats","order":1,"disp":true,"width":"12","collapse":false},{"id":"e862f128dc2e187c","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"dc2d82dd2cc0500e","type":"mqtt-broker","name":"Systems-One","broker":"192.168.1.16","port":1883,"clientid":"PPNAM_Station_2_Test","autoConnect":true,"usetls":false,"protocolVersion":4,"keepalive":60,"cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"inject-tick","type":"inject","z":"74d0b6807ce0b205","name":"5s tick","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0,"topic":"","payload":"","payloadType":"date","x":160,"y":100,"wires":[["fn-tcp-sender"]]},{"id":"fn-tcp-sender","type":"function","z":"74d0b6807ce0b205","name":"TCP message builder","func":"const START_COUNT = 1;\nconst P_C1_C2_C3 = 0.45;\nconst P_C1_ONLY  = 0.50;\nconst P_NO_READ  = 0.05;\nconst STX = \"\\x02\";\nconst ETX = \"\\x03\";\n\nlet count = flow.get(\"tcpCounter\");\nif (count === undefined || count === null) { count = START_COUNT; }\n\nlet stats = flow.get(\"tcpStats\");\nif (!stats) { stats = { total: 0, c1c2c3: 0, c1only: 0, noread: 0, startTime: Date.now() }; }\n\nlet payload, statusText, msgType;\nconst r = Math.random();\n\nif (r < P_C1_C2_C3) {\n    const c1 = count, c2 = count + 1, c3 = count + 2;\n    payload = STX + c1 + \",\" + c2 + \",\" + c3 + ETX;\n    statusText = \"#\" + c1 + \",\" + c2 + \",\" + c3;\n    msgType = \"c1c2c3\";\n    count += 3;\n} else if (r < P_C1_C2_C3 + P_C1_ONLY) {\n    payload = STX + count + ETX;\n    statusText = \"#\" + count;\n    msgType = \"c1only\";\n    count += 1;\n} else {\n    payload = STX + \"NoRead\" + ETX;\n    statusText = \"NoRead\";\n    msgType = \"noread\";\n}\n\nstats.total += 1;\nstats[msgType] += 1;\nflow.set(\"tcpCounter\", count);\nflow.set(\"tcpStats\", stats);\n\nmsg.payload = Buffer.from(payload);\nmsg.topic = \"tcp-send\";\nmsg.stats = stats;\nmsg.nextCount = count;\n\nconst _sess = flow.get(\"clientSession\");\nif (_sess) { msg._session = _sess; }\n\nconst elapsed = ((Date.now() - stats.startTime) / 1000).toFixed(1);\nnode.status({ fill: \"green\", shape: \"dot\", text: \"Total: \" + stats.total + \" | \" + statusText + \" | \" + elapsed + \"s\" });\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":100,"wires":[["tcp-out","fn-stats"]]},{"id":"tcp-out","type":"tcp out","z":"74d0b6807ce0b205","name":"TCP send","host":"192.168.1.100","port":"10069","beserver":"reply","base64":false,"end":false,"tls":"","x":600,"y":60,"wires":[]},{"id":"fn-stats","type":"function","z":"74d0b6807ce0b205","name":"Stats formatter","func":"const s = msg.stats;\nif (!s || s.total === 0) return null;\nconst pct = (n) => (n / s.total) * 100;\nconst elapsed = (Date.now() - s.startTime) / 1000;\nconst rate = s.total / Math.max(elapsed, 0.001);\nconst diffStr = (p, t) => { const v = p - t; return (v >= 0 ? '+' : '') + v.toFixed(1) + '%'; };\nconst diffCol = (p, t) => Math.abs(p - t) < 2 ? '#4ade80' : '#fbbf24';\nconst c1c2c3_pct = pct(s.c1c2c3);\nconst c1only_pct = pct(s.c1only);\nconst noread_pct = pct(s.noread);\nmsg.payload = {\n    total: s.total,\n    c1c2c3_count: s.c1c2c3,\n    c1only_count: s.c1only,\n    noread_count: s.noread,\n    c1c2c3_pct: parseFloat(c1c2c3_pct.toFixed(1)),\n    c1only_pct: parseFloat(c1only_pct.toFixed(1)),\n    noread_pct: parseFloat(noread_pct.toFixed(1)),\n    c1c2c3_diff: diffStr(c1c2c3_pct, 45),\n    c1only_diff: diffStr(c1only_pct, 50),\n    noread_diff: diffStr(noread_pct, 5),\n    c1c2c3_col: diffCol(c1c2c3_pct, 45),\n    c1only_col: diffCol(c1only_pct, 50),\n    noread_col: diffCol(noread_pct, 5),\n    elapsed_sec: parseFloat(elapsed.toFixed(1)),\n    rate_per_sec: parseFloat(rate.toFixed(1)),\n    next_count: msg.nextCount,\n    connTime: flow.get('connTime') || 'No connection'\n};\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":620,"y":140,"wires":[["ui-stats"]]},{"id":"tcp-in-server","type":"tcp in","z":"74d0b6807ce0b205","name":"Device connection (10069)","server":"server","host":"","port":"10069","datamode":"stream","datatype":"buffer","newline":"","topic":"","trim":false,"base64":false,"tls":"","x":180,"y":220,"wires":[[]]},{"id":"fn-connection-detect","type":"function","z":"74d0b6807ce0b205","name":"Connection reset","func":"// Driven by the status node watching the 10069 TCP server.\nconst st = msg.status || {};\nconst t = new Date().toLocaleTimeString();\n\nif (st.event === \"connect\") {\n    // New device connected -> full reset; counter starts again at 1\n    flow.set(\"clientSession\", st._session);\n    flow.set(\"tcpCounter\", 1);\n    flow.set(\"tcpStats\", { total: 0, c1c2c3: 0, c1only: 0, noread: 0, startTime: Date.now() });\n    flow.set(\"connTime\", t);\n    node.status({ fill: \"blue\", shape: \"dot\", text: \"Device connected - reset at \" + t });\n} else if (st.event === \"disconnect\") {\n    flow.set(\"clientSession\", null);\n    flow.set(\"connTime\", \"Disconnected \" + t);\n    node.status({ fill: \"grey\", shape: \"ring\", text: \"Device disconnected at \" + t });\n}\nreturn null;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":220,"wires":[[]]},{"id":"inject-reset","type":"inject","z":"74d0b6807ce0b205","name":"Manual reset","repeat":"","crontab":"","once":false,"onceDelay":0,"topic":"reset","payload":"","payloadType":"date","x":160,"y":300,"wires":[["fn-manual-reset"]]},{"id":"fn-manual-reset","type":"function","z":"74d0b6807ce0b205","name":"Manual reset","func":"flow.set(\"tcpCounter\", 1);\nflow.set(\"tcpStats\", { total: 0, c1c2c3: 0, c1only: 0, noread: 0, startTime: Date.now() });\nconst t = new Date().toLocaleTimeString();\nflow.set(\"connTime\", \"Manual reset \" + t);\nnode.status({ fill: \"red\", shape: \"ring\", text: \"Manual reset at \" + t });\nreturn null;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":300,"wires":[["ui-stats"]]},{"id":"ui-stats","type":"ui_template","z":"74d0b6807ce0b205","group":"ui-group-stats","name":"TCP Stats Dashboard","order":1,"width":"12","height":"10","format":"<div style=\"font-family:sans-serif;padding:12px;background:#0f172a;color:#e2e8f0;min-height:300px\">\n\n  <div style=\"display:grid;grid-template-columns:repeat(4,1fr);gap:8px;margin-bottom:12px\">\n    <div style=\"background:#1e293b;border-radius:8px;padding:10px;text-align:center\">\n      <div style=\"font-size:10px;color:#94a3b8;text-transform:uppercase;margin-bottom:4px\">Total sent</div>\n      <div style=\"font-size:28px;font-weight:700;color:#4ade80\">{{msg.payload.total||0}}</div>\n    </div>\n    <div style=\"background:#1e293b;border-radius:8px;padding:10px;text-align:center\">\n      <div style=\"font-size:10px;color:#94a3b8;text-transform:uppercase;margin-bottom:4px\">C1,C2,C3</div>\n      <div style=\"font-size:28px;font-weight:700;color:#2dd4bf\">{{msg.payload.c1c2c3_count||0}}</div>\n      <div style=\"font-size:11px;color:#64748b\">{{msg.payload.c1c2c3_pct||0}}%</div>\n    </div>\n    <div style=\"background:#1e293b;border-radius:8px;padding:10px;text-align:center\">\n      <div style=\"font-size:10px;color:#94a3b8;text-transform:uppercase;margin-bottom:4px\">C1 only</div>\n      <div style=\"font-size:28px;font-weight:700;color:#60a5fa\">{{msg.payload.c1only_count||0}}</div>\n      <div style=\"font-size:11px;color:#64748b\">{{msg.payload.c1only_pct||0}}%</div>\n    </div>\n    <div style=\"background:#1e293b;border-radius:8px;padding:10px;text-align:center\">\n      <div style=\"font-size:10px;color:#94a3b8;text-transform:uppercase;margin-bottom:4px\">NoRead</div>\n      <div style=\"font-size:28px;font-weight:700;color:#fbbf24\">{{msg.payload.noread_count||0}}</div>\n      <div style=\"font-size:11px;color:#64748b\">{{msg.payload.noread_pct||0}}%</div>\n    </div>\n  </div>\n\n  <div style=\"background:#1e293b;border-radius:8px;padding:12px;margin-bottom:12px\">\n    <div style=\"font-size:10px;color:#94a3b8;text-transform:uppercase;letter-spacing:0.05em;margin-bottom:10px\">\n      Distribution vs target\n      <span style=\"color:#4ade80;margin-left:8px\">&#9632; &lt;2% drift</span>\n      <span style=\"color:#fbbf24;margin-left:8px\">&#9632; &gt;2% drift</span>\n    </div>\n    <div style=\"display:flex;align-items:center;gap:8px;margin-bottom:8px\">\n      <span style=\"font-size:12px;color:#2dd4bf;min-width:80px\">C1,C2,C3</span>\n      <div style=\"flex:1;background:#0f172a;border-radius:4px;height:20px;overflow:hidden\">\n        <div ng-style=\"{'width': (msg.payload.c1c2c3_pct||0)+'%','background':'#2dd4bf','height':'100%','display':'flex','align-items':'center','padding-left':'6px','font-size':'11px','font-weight':'600','color':'#fff','transition':'width 0.3s ease'}\">{{msg.payload.c1c2c3_pct||0}}%</div>\n      </div>\n      <span ng-style=\"{'font-size':'11px','min-width':'44px','text-align':'right','color': msg.payload.c1c2c3_col||'#475569'}\">{{msg.payload.c1c2c3_diff||''}}</span>\n      <span style=\"font-size:11px;color:#475569;min-width:56px\">target 45%</span>\n    </div>\n    <div style=\"display:flex;align-items:center;gap:8px;margin-bottom:8px\">\n      <span style=\"font-size:12px;color:#60a5fa;min-width:80px\">C1 only</span>\n      <div style=\"flex:1;background:#0f172a;border-radius:4px;height:20px;overflow:hidden\">\n        <div ng-style=\"{'width': (msg.payload.c1only_pct||0)+'%','background':'#60a5fa','height':'100%','display':'flex','align-items':'center','padding-left':'6px','font-size':'11px','font-weight':'600','color':'#fff','transition':'width 0.3s ease'}\">{{msg.payload.c1only_pct||0}}%</div>\n      </div>\n      <span ng-style=\"{'font-size':'11px','min-width':'44px','text-align':'right','color': msg.payload.c1only_col||'#475569'}\">{{msg.payload.c1only_diff||''}}</span>\n      <span style=\"font-size:11px;color:#475569;min-width:56px\">target 50%</span>\n    </div>\n    <div style=\"display:flex;align-items:center;gap:8px;margin-bottom:8px\">\n      <span style=\"font-size:12px;color:#fbbf24;min-width:80px\">NoRead</span>\n      <div style=\"flex:1;background:#0f172a;border-radius:4px;height:20px;overflow:hidden\">\n        <div ng-style=\"{'width': (msg.payload.noread_pct||0)+'%','background':'#fbbf24','height':'100%','display':'flex','align-items':'center','padding-left':'6px','font-size':'11px','font-weight':'600','color':'#fff','transition':'width 0.3s ease'}\">{{msg.payload.noread_pct||0}}%</div>\n      </div>\n      <span ng-style=\"{'font-size':'11px','min-width':'44px','text-align':'right','color': msg.payload.noread_col||'#475569'}\">{{msg.payload.noread_diff||''}}</span>\n      <span style=\"font-size:11px;color:#475569;min-width:56px\">target 5%</span>\n    </div>\n  </div>\n\n  <div style=\"display:grid;grid-template-columns:repeat(4,1fr);gap:8px\">\n    <div style=\"background:#1e293b;border-radius:8px;padding:10px;text-align:center\">\n      <div style=\"font-size:10px;color:#94a3b8;text-transform:uppercase;margin-bottom:4px\">Elapsed</div>\n      <div style=\"font-size:20px;font-weight:600;color:#e2e8f0\">{{msg.payload.elapsed_sec||0}}s</div>\n    </div>\n    <div style=\"background:#1e293b;border-radius:8px;padding:10px;text-align:center\">\n      <div style=\"font-size:10px;color:#94a3b8;text-transform:uppercase;margin-bottom:4px\">Rate</div>\n      <div style=\"font-size:20px;font-weight:600;color:#e2e8f0\">{{msg.payload.rate_per_sec||0}}<span style=\"font-size:11px;color:#94a3b8\">/s</span></div>\n    </div>\n    <div style=\"background:#1e293b;border-radius:8px;padding:10px;text-align:center\">\n      <div style=\"font-size:10px;color:#94a3b8;text-transform:uppercase;margin-bottom:4px\">Next counter</div>\n      <div style=\"font-size:20px;font-weight:600;color:#e2e8f0\">{{msg.payload.next_count||1}}</div>\n    </div>\n    <div style=\"background:#1e293b;border-radius:8px;padding:10px;text-align:center\">\n      <div style=\"font-size:10px;color:#94a3b8;text-transform:uppercase;margin-bottom:4px\">Last connect</div>\n      <div style=\"font-size:12px;font-weight:500;color:#818cf8;margin-top:4px\">{{msg.payload.connTime||'No connection'}}</div>\n    </div>\n  </div>\n\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":740,"y":220,"wires":[[]]},{"id":"status-conn-10069","type":"status","z":"74d0b6807ce0b205","name":"Connection events","scope":["tcp-in-server"],"x":180,"y":160,"wires":[["fn-connection-detect"]]}]