roles/nodered/files/flows.json
[
    {
        "id": "11a578056fc3d56a",
        "type": "tab",
        "label": "OPCUA_Server",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "85984f60405e172d",
        "type": "tab",
        "label": "Stringray_Simulator",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4724e938a365cae0",
        "type": "tab",
        "label": "PEP Inbound Server",
        "disabled": false,
        "info": ""
    },
    {
        "id": "978de5100e6d4e0b",
        "type": "OpcUa-Endpoint",
        "name": "Systems-One_Demo_Plc",
        "endpoint": "opc.tcp://192.168.1.155:4840",
        "secpol": "None",
        "secmode": "None",
        "none": true,
        "login": false,
        "usercert": false,
        "usercertificate": "",
        "userprivatekey": ""
    },
    {
        "id": "8a4b4e742a3916ec",
        "type": "OpcUa-Server",
        "z": "11a578056fc3d56a",
        "port": "10072",
        "name": "",
        "endpoint": "",
        "nodesetDir": "",
        "autoAcceptUnknownCertificate": true,
        "registerToDiscovery": false,
        "constructDefaultAddressSpace": false,
        "allowAnonymous": false,
        "endpointNone": false,
        "endpointSign": false,
        "endpointSignEncrypt": false,
        "endpointBasic128Rsa15": false,
        "endpointBasic256": false,
        "endpointBasic256Sha256": false,
        "maxNodesPerBrowse": 0,
        "maxNodesPerHistoryReadData": 0,
        "maxNodesPerHistoryReadEvents": 0,
        "maxNodesPerHistoryUpdateData": 0,
        "maxNodesPerRead": 0,
        "maxNodesPerWrite": 0,
        "maxNodesPerMethodCall": 0,
        "maxNodesPerRegisterNodes": 0,
        "maxNodesPerNodeManagement": 0,
        "maxMonitoredItemsPerCall": 0,
        "maxNodesPerHistoryUpdateEvents": 0,
        "maxNodesPerTranslateBrowsePathsToNodeIds": 0,
        "maxConnectionsPerEndpoint": "",
        "maxMessageSize": "",
        "maxBufferSize": "",
        "maxSessions": "",
        "x": 640,
        "y": 140,
        "wires": [
            [
                "24ece21aaa3a8d8a"
            ]
        ]
    },
    {
        "id": "2f89c79ea33f7976",
        "type": "inject",
        "z": "11a578056fc3d56a",
        "name": "add TestVariable",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "ns=1;s=TestVariable;datatype=Boolean",
        "payload": "{\"opcuaCommand\": \"addVariable\"}",
        "payloadType": "json",
        "x": 300,
        "y": 40,
        "wires": [
            [
                "8a4b4e742a3916ec"
            ]
        ]
    },
    {
        "id": "24ece21aaa3a8d8a",
        "type": "debug",
        "z": "11a578056fc3d56a",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 940,
        "y": 140,
        "wires": []
    },
    {
        "id": "dcd3c29064d3f48c",
        "type": "inject",
        "z": "11a578056fc3d56a",
        "name": "Set TestVariable false",
        "props": [
            {
                "p": "payload.messageType",
                "v": "Variable",
                "vt": "str"
            },
            {
                "p": "payload.variableName",
                "v": "TestVariable",
                "vt": "str"
            },
            {
                "p": "payload.datatype",
                "v": "Boolean",
                "vt": "str"
            },
            {
                "p": "payload.namespace",
                "v": "1",
                "vt": "str"
            },
            {
                "p": "payload.variableValue",
                "v": "false",
                "vt": "bool"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 280,
        "y": 100,
        "wires": [
            [
                "8a4b4e742a3916ec"
            ]
        ]
    },
    {
        "id": "957057e20f53d587",
        "type": "inject",
        "z": "11a578056fc3d56a",
        "name": "add TestVariable2 (Float)",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "ns=1;s=TestVariable2;datatype=Float",
        "payload": "{\"opcuaCommand\": \"addVariable\"}",
        "payloadType": "json",
        "x": 290,
        "y": 460,
        "wires": [
            [
                "8a4b4e742a3916ec"
            ]
        ]
    },
    {
        "id": "0b118afe42a49f53",
        "type": "inject",
        "z": "11a578056fc3d56a",
        "name": "Set TestVariable2 12.3 + ts + quality (Number)",
        "props": [
            {
                "p": "payload.messageType",
                "v": "Variable",
                "vt": "str"
            },
            {
                "p": "payload.variableName",
                "v": "TestVariable2",
                "vt": "str"
            },
            {
                "p": "payload.datatype",
                "v": "Float",
                "vt": "str"
            },
            {
                "p": "payload.namespace",
                "v": "1",
                "vt": "str"
            },
            {
                "p": "payload.variableValue",
                "v": "12.3",
                "vt": "str"
            },
            {
                "p": "payload.sourceTimestamp",
                "v": "2022-05-25T20:36:00Z",
                "vt": "str"
            },
            {
                "p": "payload.quality",
                "v": "2161770496",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 250,
        "y": 540,
        "wires": [
            [
                "8a4b4e742a3916ec"
            ]
        ]
    },
    {
        "id": "8536d55d0424da30",
        "type": "inject",
        "z": "11a578056fc3d56a",
        "name": "Set TestVariable \"true\"",
        "props": [
            {
                "p": "payload.messageType",
                "v": "Variable",
                "vt": "str"
            },
            {
                "p": "payload.variableName",
                "v": "TestVariable",
                "vt": "str"
            },
            {
                "p": "payload.datatype",
                "v": "Boolean",
                "vt": "str"
            },
            {
                "p": "payload.namespace",
                "v": "1",
                "vt": "str"
            },
            {
                "p": "payload.variableValue",
                "v": "true",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 280,
        "y": 200,
        "wires": [
            [
                "8a4b4e742a3916ec"
            ]
        ]
    },
    {
        "id": "a80b65bac7031056",
        "type": "inject",
        "z": "11a578056fc3d56a",
        "name": "Set TestVariable 0 (false)",
        "props": [
            {
                "p": "payload.messageType",
                "v": "Variable",
                "vt": "str"
            },
            {
                "p": "payload.variableName",
                "v": "TestVariable",
                "vt": "str"
            },
            {
                "p": "payload.datatype",
                "v": "Boolean",
                "vt": "str"
            },
            {
                "p": "payload.namespace",
                "v": "1",
                "vt": "str"
            },
            {
                "p": "payload.variableValue",
                "v": "0",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 270,
        "y": 300,
        "wires": [
            [
                "8a4b4e742a3916ec"
            ]
        ]
    },
    {
        "id": "8e1d7776f2447bf4",
        "type": "inject",
        "z": "11a578056fc3d56a",
        "name": "Set TestVariable 1 (true)",
        "props": [
            {
                "p": "payload.messageType",
                "v": "Variable",
                "vt": "str"
            },
            {
                "p": "payload.variableName",
                "v": "TestVariable",
                "vt": "str"
            },
            {
                "p": "payload.datatype",
                "v": "Boolean",
                "vt": "str"
            },
            {
                "p": "payload.namespace",
                "v": "1",
                "vt": "str"
            },
            {
                "p": "payload.variableValue",
                "v": "1",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 280,
        "y": 340,
        "wires": [
            [
                "8a4b4e742a3916ec"
            ]
        ]
    },
    {
        "id": "4dd1d84b6c01f3f3",
        "type": "inject",
        "z": "11a578056fc3d56a",
        "name": "Set TestVariable true",
        "props": [
            {
                "p": "payload.messageType",
                "v": "Variable",
                "vt": "str"
            },
            {
                "p": "payload.variableName",
                "v": "TestVariable",
                "vt": "str"
            },
            {
                "p": "payload.datatype",
                "v": "Boolean",
                "vt": "str"
            },
            {
                "p": "payload.namespace",
                "v": "1",
                "vt": "str"
            },
            {
                "p": "payload.variableValue",
                "v": "true",
                "vt": "bool"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 290,
        "y": 140,
        "wires": [
            [
                "8a4b4e742a3916ec"
            ]
        ]
    },
    {
        "id": "f427cfa2eb088e8a",
        "type": "inject",
        "z": "11a578056fc3d56a",
        "name": "Set TestVariable \"false\"",
        "props": [
            {
                "p": "payload.messageType",
                "v": "Variable",
                "vt": "str"
            },
            {
                "p": "payload.variableName",
                "v": "TestVariable",
                "vt": "str"
            },
            {
                "p": "payload.datatype",
                "v": "Boolean",
                "vt": "str"
            },
            {
                "p": "payload.namespace",
                "v": "1",
                "vt": "str"
            },
            {
                "p": "payload.variableValue",
                "v": "false",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 280,
        "y": 240,
        "wires": [
            [
                "8a4b4e742a3916ec"
            ]
        ]
    },
    {
        "id": "eaeea5654fe61dce",
        "type": "inject",
        "z": "11a578056fc3d56a",
        "name": "Set TestVariable2 23.4",
        "props": [
            {
                "p": "payload.messageType",
                "v": "Variable",
                "vt": "str"
            },
            {
                "p": "payload.variableName",
                "v": "TestVariable2",
                "vt": "str"
            },
            {
                "p": "payload.datatype",
                "v": "Float",
                "vt": "str"
            },
            {
                "p": "payload.namespace",
                "v": "1",
                "vt": "str"
            },
            {
                "p": "payload.variableValue",
                "v": "23.4",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 280,
        "y": 500,
        "wires": [
            [
                "8a4b4e742a3916ec"
            ]
        ]
    },
    {
        "id": "7dd0e0ddd42640ed",
        "type": "comment",
        "z": "11a578056fc3d56a",
        "name": "StatusCodes",
        "info": "Use actual decimal StatusCode value:\nDataLost:                           2147483648\nBadAggregateConfigurationRejected:  2161770496\netc.\n\nLook values from Github node-opcua:\nnode-opcua/packages/node-opcua-status-code/source/_generated_status_codes.ts ",
        "x": 250,
        "y": 640,
        "wires": []
    },
    {
        "id": "d5bc694f4fff3776",
        "type": "inject",
        "z": "11a578056fc3d56a",
        "name": "Set TestVariable2 34.5 + ts + quality (String)",
        "props": [
            {
                "p": "payload.messageType",
                "v": "Variable",
                "vt": "str"
            },
            {
                "p": "payload.variableName",
                "v": "TestVariable2",
                "vt": "str"
            },
            {
                "p": "payload.datatype",
                "v": "Float",
                "vt": "str"
            },
            {
                "p": "payload.namespace",
                "v": "1",
                "vt": "str"
            },
            {
                "p": "payload.variableValue",
                "v": "34.5",
                "vt": "str"
            },
            {
                "p": "payload.sourceTimestamp",
                "v": "2022-05-25T23:47:00Z",
                "vt": "str"
            },
            {
                "p": "payload.quality",
                "v": "UncertainInitialValue",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 250,
        "y": 580,
        "wires": [
            [
                "8a4b4e742a3916ec"
            ]
        ]
    },
    {
        "id": "a16a28b2a3cb0758",
        "type": "comment",
        "z": "11a578056fc3d56a",
        "name": "Description",
        "info": "This flow shows how to change server value\nwithout a client.",
        "x": 630,
        "y": 80,
        "wires": []
    },
    {
        "id": "d6a2c3db6e4b9a10",
        "type": "http in",
        "z": "85984f60405e172d",
        "name": "POST /api/v1/ingest",
        "url": "/api/v1/ingest",
        "method": "post",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 260,
        "y": 120,
        "wires": [
            [
                "b9c2f7b1c6a0f1b1",
                "fd07485cfeec9ce5",
                "61d94ec94691dd0f"
            ]
        ]
    },
    {
        "id": "b9c2f7b1c6a0f1b1",
        "type": "function",
        "z": "85984f60405e172d",
        "name": "Auth + Random Response",
        "func": "// ─────────────────────────────────────────────\n// SAP Response Simulator (Standard Body)\n// Body ALWAYS:\n//   { success: boolean, message: string, errors: [] }\n// ─────────────────────────────────────────────\n\nfunction makeResponse(statusCode, success, message, errors) {\n    msg.statusCode = statusCode;\n    msg.headers = msg.headers || {};\n    msg.headers[\"Content-Type\"] = \"application/json; charset=utf-8\";\n\n    msg.payload = {\n        success,\n        message,\n        errors: errors || []\n    };\n    return msg;\n}\n\n// Helper to build an error object\nfunction err(code, message, source, extra) {\n    const e = { code, message };\n    if (source) e.source = source;\n    if (extra && typeof extra === \"object\") Object.assign(e, extra);\n    return e;\n}\n\n// ─────────────────────────────────────────────\n// CONFIG: EDIT PERCENTAGES HERE (must sum to 100)\n// ─────────────────────────────────────────────\nconst PCT = {\n    OK_200: 70,\n\n    INVALID_PAYLOAD_400: 10,\n    NO_PROD_ORDERS_400: 5,\n\n    UNDERWEIGHT_422: 5,\n    OVERWEIGHT_422: 5,\n\n    CRITICAL_500: 2,\n    SAP_CONFIG_500: 1,\n    SAP_CONNECT_500: 1,\n\n    SAP_UNAVAILABLE_503: 1\n};\n\n// Optional safety check (warn in debug if not 100)\nconst total = Object.values(PCT).reduce((a, b) => a + b, 0);\nif (total !== 100) {\n    node.warn(`PCT total is ${total} (should be 100). Adjust your percentages.`);\n}\n\n// ─────────────────────────────────────────────\n// RANDOM PICK (0..100)\n// ─────────────────────────────────────────────\nconst r = Math.random() * 100;\n\n// Build cumulative thresholds so you can edit PCT freely\nlet t = 0;\nfunction hit(p) { t += p; return r < t; }\n\nif (hit(PCT.OK_200)) {\n    return makeResponse(\n        200,\n        true,\n        \"Request processed successfully\",\n        []\n    );\n}\n\nif (hit(PCT.INVALID_PAYLOAD_400)) {\n    return makeResponse(\n        400,\n        false,\n        \"Invalid payload\",\n        [err(\"INVALID_PAYLOAD\", \"Payload validation failed\", \"API\")]\n    );\n}\n\nif (hit(PCT.NO_PROD_ORDERS_400)) {\n    return makeResponse(\n        400,\n        false,\n        \"No production orders provided\",\n        [err(\"NO_PRODUCTION_ORDERS\", \"No production orders provided\", \"API\")]\n    );\n}\n\nif (hit(PCT.UNDERWEIGHT_422)) {\n    return makeResponse(\n        422,\n        false,\n        \"Measured weight is below the allowed minimum\",\n        [\n            err(\n                \"WEIGHT_UNDER\",\n                \"Measured weight is below the allowed minimum\",\n                \"SCALE\",\n                { minAllowed: 5.0, actual: 3.2 }\n            )\n        ]\n    );\n}\n\nif (hit(PCT.OVERWEIGHT_422)) {\n    return makeResponse(\n        422,\n        false,\n        \"Measured weight exceeds the allowed maximum\",\n        [\n            err(\n                \"WEIGHT_OVER\",\n                \"Measured weight exceeds the allowed maximum\",\n                \"SCALE\",\n                { maxAllowed: 30.0, actual: 42.7 }\n            )\n        ]\n    );\n}\n\nif (hit(PCT.CRITICAL_500)) {\n    return makeResponse(\n        500,\n        false,\n        \"Critical failure\",\n        [err(\"CRITICAL_FAILURE\", \"Critical failure occurred\", \"API\")]\n    );\n}\n\nif (hit(PCT.SAP_CONFIG_500)) {\n    return makeResponse(\n        500,\n        false,\n        \"SAP configuration missing\",\n        [err(\"SAP_CONFIG_MISSING\", \"SAP settings are missing\", \"API\")]\n    );\n}\n\nif (hit(PCT.SAP_CONNECT_500)) {\n    return makeResponse(\n        500,\n        false,\n        \"Failed to connect to SAP B1\",\n        [err(\"SAP_CONNECT_FAILED\", \"Failed to connect to SAP Business One\", \"SAP\")]\n    );\n}\n\n// Fallback (whatever is left) -> 503 SAP unavailable\nreturn makeResponse(\n    503,\n    false,\n    \"SAP service unavailable\",\n    [err(\"SAP_UNAVAILABLE\", \"Failed to connect to SAP B1\", \"SAP\")]\n);\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 120,
        "wires": [
            [
                "b2fa4cce6d3bb0aa"
            ]
        ]
    },
    {
        "id": "b2fa4cce6d3bb0aa",
        "type": "http response",
        "z": "85984f60405e172d",
        "name": "Return Response",
        "statusCode": "",
        "headers": {},
        "x": 790,
        "y": 120,
        "wires": []
    },
    {
        "id": "fd07485cfeec9ce5",
        "type": "debug",
        "z": "85984f60405e172d",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 80,
        "wires": []
    },
    {
        "id": "8f3b6c03a6b5d2b1",
        "type": "inject",
        "z": "85984f60405e172d",
        "name": "Start Broadcast",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": true,
        "onceDelay": 0.5,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 250,
        "y": 240,
        "wires": [
            [
                "b7d6b7f1cb2d0e12"
            ]
        ]
    },
    {
        "id": "b7d6b7f1cb2d0e12",
        "type": "function",
        "z": "85984f60405e172d",
        "name": "Generate Barcode (CRLF)",
        "func": "// Random 13-digit prefix, incrementing 5-digit suffix (global suffix)\nconst CRLF = \"\\r\\n\";\n\nlet state = flow.get('barcode_state') || {\n    suffix: 1\n};\n\n// 🔥 generate a NEW random 13-digit prefix every time\nconst prefix = String(Math.floor(1e12 + Math.random() * 9e12));\n\n// format suffix\nlet suffixStr = String(state.suffix).padStart(5, '0');\n\n// build barcode\nlet barcode = `${prefix}-${suffixStr}${CRLF}`;\n\n// increment suffix\nstate.suffix += 1;\nif (state.suffix > 99999) state.suffix = 1;\n\n// save state\nflow.set('barcode_state', state);\n\n// output\nmsg.payload = barcode;\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 240,
        "wires": [
            [
                "64d993321b1e516a"
            ]
        ]
    },
    {
        "id": "64d993321b1e516a",
        "type": "tcp out",
        "z": "85984f60405e172d",
        "name": "TCP CONNECTION 1",
        "host": "",
        "port": "10069",
        "beserver": "server",
        "base64": false,
        "end": false,
        "tls": "",
        "x": 760,
        "y": 240,
        "wires": []
    },
    {
        "id": "b2f52c0e9f1a0b78",
        "type": "tcp in",
        "z": "85984f60405e172d",
        "name": "TCP CONNECTION 2",
        "server": "server",
        "host": "",
        "port": "10070",
        "datamode": "stream",
        "datatype": "utf8",
        "newline": "",
        "topic": "",
        "trim": true,
        "base64": false,
        "tls": "",
        "x": 240,
        "y": 300,
        "wires": [
            [
                "e3a0f25dd6f5c6bd"
            ]
        ]
    },
    {
        "id": "e3a0f25dd6f5c6bd",
        "type": "function",
        "z": "85984f60405e172d",
        "name": "If 'W' then return random weight",
        "func": "// Expects command: W<CR><LF>\n// TCP node splits on \\n and trims, so payload becomes \"W\" or \"W\\r\"\n\nconst CRLF = \"\\r\\n\";\n\nlet cmd = (msg.payload ?? \"\").toString();\ncmd = cmd.replace(/\\r/g, \"\").trim().toUpperCase();\n\nif (cmd !== \"W\") {\n    // ignore anything else\n    return null;\n}\n\n// Random weight (choose range you want)\n// Example: 0.00 to 999.99\nconst weight = Math.random() * 999.99;\n\n// Format: +024.36 (3 digits before decimal, 2 decimals)\nconst formatted = \"+\" + weight.toFixed(2).padStart(6, \"0\");\n\nmsg.payload = formatted + CRLF;\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 300,
        "wires": [
            [
                "a6c19f8b5b6a0f1e"
            ]
        ]
    },
    {
        "id": "a6c19f8b5b6a0f1e",
        "type": "tcp out",
        "z": "85984f60405e172d",
        "name": "TCP Out (reply to same client)",
        "host": "",
        "port": "",
        "beserver": "reply",
        "base64": false,
        "end": false,
        "tls": "",
        "x": 810,
        "y": 300,
        "wires": []
    },
    {
        "id": "61d94ec94691dd0f",
        "type": "function",
        "z": "85984f60405e172d",
        "name": "API Hit Counter",
        "func": "// Increment API hit counter\n\nlet count = flow.get(\"api_hit_count\") || 0;\ncount += 1;\nflow.set(\"api_hit_count\", count);\n\n// Optional: expose count on the message\nmsg.apiHitCount = count;\n\n// Optional: show in node status (very handy)\nnode.status({\n    fill: \"green\",\n    shape: \"dot\",\n    text: `API hits: ${count}`\n});\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "c85be06d75549690",
        "type": "inject",
        "z": "4724e938a365cae0",
        "name": "Start on deploy",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.5,
        "topic": "",
        "x": 180,
        "y": 120,
        "wires": [
            [
                "13e256ecbaafd72a"
            ]
        ]
    },
    {
        "id": "13e256ecbaafd72a",
        "type": "function",
        "z": "4724e938a365cae0",
        "name": "Random block sender (server push)",
        "func": "const minEntriesPerBlock = 4;\nconst maxEntriesPerBlock = 5;\n\nconst fixedDelayMs = 15000;\nconst wrapAt9999 = true;\n\n// Chance to prepend a random alphanumeric character\nconst pFiveCharCode = 0.5; // 30%\n\n// Framing characters\nconst STX = \"\\x02\";\nconst ETX = \"\\x03\";\n\n// Fixed third field\nconst FIXED_B_TEXT = \"InboundScanning1JBH\";\n\n// -------------------- helpers --------------------\n\nfunction randInt(min, max) {\n    return Math.floor(Math.random() * (max - min + 1)) + min;\n}\n\nfunction rand4int() {\n    return randInt(0, 9999);\n}\n\nfunction fmt4(n) {\n    return n.toString().padStart(4, \"0\");\n}\n\nfunction inc4(n) {\n    return wrapAt9999 ? (n + 1) % 10000 : Math.min(n + 1, 9999);\n}\n\nfunction randAlphaNumChar() {\n    const chars = \"ABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789\";\n    return chars.charAt(randInt(0, chars.length - 1));\n}\n\n// -------------------- timer utils --------------------\n\nfunction clearAllTimers() {\n    const timers = context.get(\"timers\") || [];\n    for (const t of timers) clearTimeout(t);\n    context.set(\"timers\", []);\n}\n\nfunction schedule(fn, delayMs) {\n    const t = setTimeout(fn, delayMs);\n    const arr = context.get(\"timers\") || [];\n    arr.push(t);\n    context.set(\"timers\", arr);\n    return t;\n}\n\n// -------------------- send helpers --------------------\n\nfunction sendFramed(line) {\n    node.send({ payload: STX + line + ETX });\n}\n\n// Build code: \"0123\" OR \"X0123\"\nfunction buildCode(a4) {\n    if (Math.random() < pFiveCharCode) {\n        return randAlphaNumChar() + a4;\n    }\n    return a4;\n}\n\n// Send data line + update camera globals\nfunction sendDataLine(prefix, a4) {\n    const code = buildCode(a4);\n\n    // Publish for camera to mirror\n    global.set(\"camera_code\", code);\n\n    const line = `${prefix}|${code}|${FIXED_B_TEXT}`;\n    global.set(\"camera_last_server_line\", line);\n\n    sendFramed(line);\n}\n\nfunction sendLoadClosed(prefix) {\n    const line = `Load_Closed|${prefix}`;\n    global.set(\"camera_last_server_line\", line);\n    global.set(\"camera_code\", null);\n\n    sendFramed(line);\n}\n\n// -------------------- main logic --------------------\n\nclearAllTimers();\ncontext.set(\"running\", false);\n\nlet blockNum = context.get(\"blockNum\");\nif (typeof blockNum !== \"number\") blockNum = 1;\n\nfunction startBlock() {\n    context.set(\"running\", true);\n\n    const prefix = blockNum;\n    const entries = randInt(minEntriesPerBlock, maxEntriesPerBlock);\n\n    let a = rand4int();\n    let t = 0;\n\n    // First line\n    sendDataLine(prefix, fmt4(a));\n\n    // Remaining lines\n    for (let i = 2; i <= entries; i++) {\n        t += fixedDelayMs;\n        schedule(() => {\n            a = inc4(a);\n            sendDataLine(prefix, fmt4(a));\n        }, t);\n    }\n\n    // Load Closed\n    t += fixedDelayMs;\n    schedule(() => sendLoadClosed(prefix), t);\n\n    // Next block\n    t += fixedDelayMs;\n    schedule(() => {\n        blockNum += 1;\n        context.set(\"blockNum\", blockNum);\n        clearAllTimers();\n        startBlock();\n    }, t);\n}\n\n// Kick off once on deploy\nif (!context.get(\"running\")) {\n    startBlock();\n}\n\nreturn null;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "const timers = context.get('timers') || [];\nfor (const t of timers) clearTimeout(t);\ncontext.set('timers', []);\ncontext.set('running', false);\n",
        "libs": [],
        "x": 460,
        "y": 120,
        "wires": [
            [
                "ddc8d074d5f21e8d",
                "f5bf14ec4408eba0"
            ]
        ]
    },
    {
        "id": "f5bf14ec4408eba0",
        "type": "tcp out",
        "z": "4724e938a365cae0",
        "name": "TCP OUT (Server :10069)",
        "host": "",
        "port": "10069",
        "beserver": "server",
        "base64": false,
        "end": false,
        "tls": "",
        "x": 770,
        "y": 120,
        "wires": []
    },
    {
        "id": "ddc8d074d5f21e8d",
        "type": "debug",
        "z": "4724e938a365cae0",
        "name": "Sent payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 730,
        "y": 180,
        "wires": []
    },
    {
        "id": "ced0826ba45f360b",
        "type": "inject",
        "z": "4724e938a365cae0",
        "name": "Start camera on deploy",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.5,
        "topic": "",
        "x": 170,
        "y": 320,
        "wires": [
            [
                "8204a43dc57a3a83"
            ]
        ]
    },
    {
        "id": "8204a43dc57a3a83",
        "type": "function",
        "z": "4724e938a365cae0",
        "name": "Camera barcode / NoRead @500ms",
        "func": "const tickMs = 1000;\n\nconst pNoRead = 0.01; // 10%\nconst pCorrupt = 0.01; // 10% (one message only)\n\nconst STX = \"\\x02\";\nconst ETX = \"\\x03\";\n\nfunction randInt(min, max) {\n    return Math.floor(Math.random() * (max - min + 1)) + min;\n}\n\nfunction randDigits(n) {\n    let s = \"\";\n    for (let i = 0; i < n; i++) s += randInt(0, 9).toString();\n    return s;\n}\n\nfunction isValidCode(code) {\n    // \"0123\" or \"a0123\" (letter + 4 digits)\n    return typeof code === \"string\" && (/^\\d{4}$/.test(code) || /^[A-Za-z]\\d{4}$/.test(code));\n}\n\nfunction corruptCode(code) {\n    // corrupt only the numeric part (keep letter if present)\n    let letter = \"\";\n    let digits = code;\n\n    if (/^[A-Za-z]\\d{4}$/.test(code)) {\n        letter = code[0];\n        digits = code.slice(1);\n    }\n\n    // make different 4-digit number\n    let bad = randInt(0, 9999).toString().padStart(4, \"0\");\n    if (bad === digits) bad = ((parseInt(bad, 10) + 1) % 10000).toString().padStart(4, \"0\");\n\n    return letter + bad;\n}\n\nfunction send(payloadStr) {\n    node.send({ payload: STX + payloadStr + ETX });\n}\n\n// Stop existing interval on redeploy\nlet interval = context.get(\"interval\");\nif (interval) {\n    clearInterval(interval);\n    context.set(\"interval\", null);\n}\n\nfunction tick() {\n    // If server last sent Load_Closed|X, mirror it\n    const lastLine = String(global.get(\"camera_last_server_line\") || \"\");\n    if (lastLine.startsWith(\"Load_Closed|\")) {\n        send(lastLine);\n        return;\n    }\n\n    // Otherwise, mirror the exact code the server sent\n    const code = global.get(\"camera_code\");\n\n    if (!isValidCode(code)) {\n        // nothing to mirror yet\n        return;\n    }\n\n    const r = Math.random();\n\n    if (r < pNoRead) {\n        send(\"NoRead\");\n        return;\n    }\n\n    const finalCode = (r < (pNoRead + pCorrupt)) ? corruptCode(code) : code;\n\n    // Barcode = code (4 or 5 chars) + 13 digits\n    send(finalCode + randDigits(13));\n}\n\ninterval = setInterval(tick, tickMs);\ncontext.set(\"interval\", interval);\n\n// Fire one immediately\nsetTimeout(tick, 0);\n\nreturn null;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "let interval = context.get('interval');\nif (interval) clearInterval(interval);\ncontext.set('interval', null);\n",
        "libs": [],
        "x": 450,
        "y": 320,
        "wires": [
            [
                "fe85cec2dc7a795e",
                "b8ae73b6137a663c"
            ]
        ]
    },
    {
        "id": "b8ae73b6137a663c",
        "type": "tcp out",
        "z": "4724e938a365cae0",
        "name": "CAM TCP OUT (Server :10070)",
        "host": "",
        "port": "10070",
        "beserver": "server",
        "base64": false,
        "end": false,
        "tls": "",
        "x": 790,
        "y": 320,
        "wires": []
    },
    {
        "id": "fe85cec2dc7a795e",
        "type": "debug",
        "z": "4724e938a365cae0",
        "name": "Camera sent",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 730,
        "y": 380,
        "wires": []
    },
    {
        "id": "8b0fddda25f2ab51",
        "type": "tcp in",
        "z": "4724e938a365cae0",
        "name": "Injest Connection",
        "server": "server",
        "host": "",
        "port": "10071",
        "datamode": "stream",
        "datatype": "buffer",
        "newline": "",
        "topic": "",
        "trim": false,
        "base64": false,
        "tls": "",
        "x": 140,
        "y": 500,
        "wires": [
            [
                "f113f3f737da22e9"
            ]
        ]
    },
    {
        "id": "299273a082f1f062",
        "type": "debug",
        "z": "4724e938a365cae0",
        "name": "Injest Messages Recieve",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 490,
        "y": 500,
        "wires": []
    },
    {
        "id": "f113f3f737da22e9",
        "type": "function",
        "z": "4724e938a365cae0",
        "name": "function 1",
        "func": "if (Buffer.isBuffer(msg.payload)) {\n    msg.payload = msg.payload.toString(\"ascii\");\n}\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 500,
        "wires": [
            [
                "299273a082f1f062"
            ]
        ]
    },
    {
        "id": "b4ceaf41d48ff434",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-contrib-opcua": "0.2.347"
        }
    }
]